
.idea/
**/*.log
/packs/core-effects/
/packs/action-attack-macros/
/packs/action-movement-macros/
/packs/action-mental-macros/
/packs/action-stealth-macros/
/packs/action-misc-macros/
/packs/action-exploration-macros/
/packs/action-downtime-macros/
module/.DS_Store
