<div class="equipments">
	{{#each equipments as |eqp slot|}}
	<div class="eq-slot slot-{{slot}}" style="background-image: url('{{@root.equipmentsData.[slot].img}}');">
		{{#if eqp}}
		{{/if}}
	</div>
	{{/each}}
</div>
